h1 {
  color: aqua;
}

/* #hello {
  color: rgb(194, 222, 53);
} */
.title {
  color: brown;
}
.second {
  color: blue;
}
.animals-list {
  list-style: none;
}
.fruit-list {
  list-style: none;
}
img {
  height: 200px;
  width: 300px;
}
.fitness-img {
  width: 200px;
  height: 150px;
}
thead {
  background: #dad3d3;
}
td {
  padding: 10px;
}
tbody {
  background-color: #f0f0f0;
}
table {
  margin-top: 50px;
  margin-left: 200px;
}
