h1 {
  color: aqua;
}

/* #hello {
  color: rgb(194, 222, 53);
} */
.title {
  color: brown;
}
.second {
  color: blue;
}
.animals-list {
  list-style: none;
}
.fruit-list {
  list-style: none;
}

.fitness-img {
  width: 200px;
  height: 150px;
}
thead {
  background: #dad3d3;
}
td {
  padding: 10px;
}
tbody {
  background-color: #f0f0f0;
}
table {
  margin-top: 50px;
  margin-left: 200px;
}
.one {
  padding: 80px 0px;
  /* background: #59b484; */
  background: url(../assets/wall.jpg);
  /* background-size: cover;
  background-position: center; */
  position: relative;
}
.one-heading {
  text-align: center;
}
.one-heading span {
  color: #59b484;
  font-size: 25px;
  font-family: "Poppins";
  font-weight: 600;
}
nav {
  display: flex;
  justify-content: space-between;
}
.logo img {
  width: 60px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 13px;
}
.button1 {
  margin-top: 11px;
  background-color: #59b484;
  padding: 8px 15px;
  border: #59b484;
  border-radius: 8px;
  color: #fff;
}
.button1:hover {
  background-color: #407e42;
  cursor: pointer;
}
.cat-image img {
  width: 100%;
}
.two {
  padding: 80px 0px;
}
.three-first-content {
  padding: 40px;
  background: #407e42;
  position: relative;
  z-index: 115;
}
.three-second-content {
  padding: 40px;
  background: #051a06;
  color: #fff;
  position: absolute;
  /* margin-right: 40px; */
  z-index: 113;
}
.four::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50%;
  height: 50px;
  background: #407e42;
}
.four::after {
  content: "";
  position: absolute;
  right: 0;
  width: 50%;
  height: 50px;
  background: #041505;
}
.four .first-content {
  /* padding: 40px; */

  position: absolute;
  color: #fff;
  z-index: 111;
}
.four .second {
  /* padding: 40px; */

  position: absolute;
  color: #5ab942;
  z-index: 111;
}

/* before and after css property explore */
@media only screen and (max-width: 992px) {
  .four .second {
    color: #431cc4;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .four .second {
    color: #c21515;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1070px) {
  .four .second {
    color: #c21515;
    margin-top: 50px;
  }
}
